.buttonHolder {
  margin: 30;
  text-align: center;
}

.container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60rem;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

h4 {
  margin: 2%;
}

.card-contents {
  color: inherit;
  margin: 2%;
}
