body {
  background-color: navy;
}

header {
  background-color: gold;
  padding: 0px;
}

.navbar {
  background-color: navy !important;
}

.card {
  background-color: gold;
}

.buttonHolder {
  margin: 30;
  text-align: center;
}

.container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  border: 10px solid white;
  width: 75%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.card .card-form {
  border: 0 !important;
  width: 75% !important;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

h4 {
  margin: 2%;
}

.card-contents {
  color: inherit;
  margin: 2%;
}

.topRight {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.topRight i {
  color: navy;
}

.col-sm-1 {
  padding-right: 0;
  padding-left: 0;
}

#body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-color: navy;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
}

#header {
  margin: 0px;
  padding: 0px;
  background-color: gold;
  display: block;
  color: navy;
  position: top;
}

#title {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#navbar {
  background-color: navy;
  color: white;
  margin: 0px;
  padding: 0px;
}

#navItem {
  color: gold !important;
  margin: 10px;
  padding: 0px;
}

#brand {
  color: gold !important;
  font-size: 20px;
}

#formContainer {
  margin: 100px;
  padding: 50px;
  border: 10px solid white;
  background-color: gold;
  height: auto;
  width: auto;
  max-width: 100%;
  position: relative;
  text-align: center;
}

#container {
  margin: 100px;
  padding: 0px;
  border: 10px solid white;
  background-color: gold;
  height: auto;
  width: auto;
  max-width: 100%;
  position: relative;
  text-align: center;
}

#courseNameLabel,
#lessonsLabel,
#inputCourseName,
#inputLessons {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  padding: 20px;
}

#submitBtn {
  background-color: navy;
  color: gold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  margin-left: -90%;
}

#submitBtn:hover {
  background-color: #1e90ff;
}

#navbarElements {
  float: right;
}

#emailLabel,
#passwordLabel,
#cPasswordLabel,
#inputConfirmPassword,
#inputPassword,
#inputEmail {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  padding: 20px;
}

.multiselect {
  background-color: navy;
  color: gold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}

#submitBtn {
  background-color: navy;
  color: gold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  margin-left: -90%;
}

#submitBtn:hover {
  background-color: #1e90ff;
}

.selectBox {
  position: relative;
  color: navy;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

/* .btn {
  background-color: darkgrey;
} */

.navbar i {
  color: gold;
  margin: 5px;
}

#submitTime {
  background-color: navy !important;
  color: white !important;
}

#form-container {
  font-size: larger;
  font-weight: bold !important;
}

#form-title {
  margin-top: 20px;
}

#preview-data {
  font-size: medium;
  font-weight: bold !important;
}
