body {
  background-color: navy;
}

header {
  background-color: gold;
  padding: 0px;
}

.navbar {
  background-color: navy !important;
}

.card {
  background-color: gold;
}

.buttonHolder {
  margin: 30;
  text-align: center;
}

.container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  border: 10px solid white;
  width: 75%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.card .card-form {
  border: 0 !important;
  width: 75% !important;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

h4 {
  margin: 2%;
}

.card-contents {
  color: inherit;
  margin: 2%;
}

.topRight {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.topRight i {
  color: navy;
}

.col-sm-1 {
  padding-right: 0;
  padding-left: 0;
}

.navbar i {
  color: gold;
  margin: 5px;
}

#submitTime {
  background-color: navy !important;
  color: white !important;
}

#form-container {
  font-size: larger;
  font-weight: bold !important;
}

#form-title {
  margin-top: 20px;
}

#preview-data {
  font-size: medium;
  font-weight: bold !important;
}
